.header {
    background-color: #3c3f41;
}

.header .navbar-brand {
    padding: 0;
    color: #00a21f;
    font-weight: 700;
    font-size: 24px;
}

.header .nav-link {
    color: #ffffff !important;
    text-transform: uppercase;
}

.header .navbar-nav {
    margin-left: auto;
}

.page-info {
    margin-top: 20px;
}

.page-info__nav .nav-item {
    margin-right: 5px;
}

.page-info__link {
    display: flex;
    margin-left: auto;
    list-style: none;
}

.page-info__link li {
    margin-left: 5px;
}

.page-info__title h1 {
    margin: 0 0 0 420px;
    color: #00a21f;
    font-weight: 400;
}

.page-info__title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.page-info__title-text p:first-child {
    margin: 0;
    font-weight: 700;
    color: #6c6f71;
}

.page-info__title-text p:first-child span {
    color: #00a21f;
    font-weight: 700;
}

.page-info__title-text p:nth-child(2) {
    margin: 0;
    color: #6c6f71;
}

.page-info__title-text p:nth-child(2) span {
    font-weight: 700;
}

.page-info__title-text p:last-child {
    display: none;
    margin: 0;
    color: #6c6f71;
}

.breadcrumb {
    margin-top: 15px;
    padding: 0.25rem 1rem;
}

.breadcrumb-item a {
    color: #6c6f71;
}

.breadcrumb-item.active {
    color: #00a21f;
    font-weight: 500;
}

.content {
    display: flex;
    padding: 0.5rem 1rem;
}

.content__asside {
    min-width: 300px;
    margin-right: 40px;
}

.content__asside .accordion .card {
    border: none;
}

.content__asside .accordion > .card > .card-header {
    background: none;
}

.content__asside .accordion .card .card-header {
    color: #6c6f71;
    padding: 0.45rem 1.25rem;
    border: none;
}

.content__asside .accordion .card .card-header i {
    width: 15px;
}

.content__asside .accordion .card .card-header a {
    color: #6c6f71;
}

.content__asside .accordion .card .card-header h5 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.content__asside .accordion .card .card-header h5 button {
    position: relative;
    padding: 0;
    margin-left: -1px;
    color: #6c6f71;
    text-decoration: none !important;
}

.content__asside .card div .card-header {
    padding: 0.45rem 1.25rem 0.45rem 2.25rem !important;
}

.content__asside .card-header h5 button.collapsed .fa-sort-down {
    position: absolute;
    top: 2px;
    right: -18px;
    transform: rotate(0);
}

.content__asside .card-header h5 button .fa-sort-down {
    position: absolute;
    top: 9px;
    right: -18px;
    transform: rotate(180deg);
}

.navbar-toggler {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    outline: none !important;
    transition: all ease .3s;
}

.navbar-toggler span {
    width: 20px;
    height: 2px;
    margin: 2px 0;
    background: #ffffff;
    border-radius: 10px;
}

.navbar-toggler[aria-expanded='true'] span:first-child {
    position: absolute;
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded='true'] span:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded='true'] span:last-child {
    position: absolute;
    transform: rotate(-45deg);
}

.mobile-line {
    display: none;
}

.mob-nav {
    display: none;
}

.page-info__title .navbar-nav {
    display: none;
}

@media (max-width: 1300px) {
    .page-info__title h1 {
        margin-left: 60px;
    }
}

@media (max-width: 992px) {
    .mobile-line {
        display: block;
        margin: 10px 0 0;
        padding: 0;
        width: 100vw;
        height: 1px;
        border: none;
        background: #000000;
    }
    .mob-nav {
        display: block;
    }
    .page-info__nav {
        display: none;
    }
    .page-info__title {
        flex-direction: column-reverse;
        align-items: center;
    }
    .page-info__title-text {
        align-items: center;
        margin: 0;
        text-align: center;
    }
    .page-info__title > h1 {
        margin: 0;
    }
    .page-info__title-text p:last-child {
        display: block;
    }
    .page-info__title .navbar-nav {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }
    .page-info__title .navbar-nav .nav-item {
        margin: 0 3px;
    }
    .page-info__title .navbar-nav .nav-item a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        padding: 0;
    }
    .header .navbar-nav {
        padding-left: 16px;
    }
    .header .navbar-collapse {
        position: absolute;
        left: 0;
        top: 52px;
        background-color: #3c3f41;
        z-index: 1;
    }
    .content__block {
        padding-bottom: 60px;
    }
    .content__asside {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
        background-color: #3c3f41;
    }
    .content__asside .accordion {
        display: flex;
    }
    .content__asside .card {
        background: none;
        overflow: visible;
    }
    .content__asside .card span {
        display: none;
    }
    .content__asside .card > div:nth-child(2) {
        position: absolute;
        bottom: 50px;
        background-color: #3c3f41;
    }
    .content__asside .card div:nth-child(2) .card-header {
        padding: 0.45rem 1.25rem !important;
    }
}